{% extends 'home/index.html' %}
{% load static %}
{% block title %}
Links2web, {{Sub_category|default:Category_name}} websites.
{% endblock %}
{% block header %}
<div class="header" style="margin-top:50px; padding:5% 0">
<h2 class="text-center" >{{Category_name}}</h2>
<h5 class="text-center">{{Sub_category}}</h5>
<h3 class="text-center">Websites</h3>
</div>
{% endblock %}
{% block content %}
	<div class="container-fluid" style="background-color:white;">
      <div class="container"> 		
      	<ul class="all-websites-main-list row" id="main-list" style="list-style-type:none; padding:0; margin:0;">
      		{% for website in websites %}
      		<li class="col-12 col-lg-6 col-md-6 ">
      			<div class="all-websites-list " >

      				<h5 class="text-center">

      			<a  href='http://{{website.url|cut:"http://"| cut:"https://"}}'>{{website.website}}</a></h5>

      			</div>
      		</li>
      			{% endfor %}
      		</ul>
      		<div class="d-flex">
      			{% if websites.has_next %}
      			<button class="btn btn-info btn-sm mx-auto px-3" id="loadmore-btn" data-page-no="2">Load More Websites</button>      		
   		   	{% endif %}
      		</div>
      </div>
   </div>
      <div style="display:flex;">
      	<button id="theme-button" class="theme-button-light " onclick="changeTheme()">Change Theme</button>
      	</div>

{% endblock %}
{% block js %}
<script>
$(function() {
	$("#loadmore-btn").on("click",function(){
		var btn = $(this);
		btn.html('<span>Loading more websites...<i class="fa fa-refresh fa-spin"</i></span>');
		var div = $('#main-list');
		var page_no = btn.attr("data-page-no");
		$.ajax({ url: '{{request.path}}',
		type: 'GET',
		data:{'page': page_no},
		success: function(data) {
			if(data=="EMPTY"){
				btn.css("display","none");
				return;
			}
			div.append(data);
			btn.attr("data-page-no",parseInt(page_no)+1);
			btn.text('Load More Websites');
		
		},
		error: function(data) {
			alert('Failed to fetch data.');
		}});
	});
 });
   </script>
{% endblock %}
