{% extends 'home/index.html' %}
{% block nav %}
<h2>
	<a href="{% url 'home' %}">Go to Homepage</a>
</h2>
<h3>
	<a href="{% url 'control_panel' %}">Go to Control_panel</a>
</h3>
{% endblock %}{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid">
	<h2>Category Page </h2>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
	<div class="category-form" >
	
	<h3 >
			{{form.List_Type.label}}
	</h3>

	{{form.List_Type}}
	
		<h3 >
			{{form.category.label}}
	</h3>

	{{form.category}}
	
		<h3 >
			{{form.icon.label}}
	</h3>

	{{form.icon}}
	
	
	<h3 >
			Enter number of tags
	</h3>
<div class="input-group mb-3 w-50"> <input id="tag-number" type="number" class="form-control" placeholder="Enter No" aria-label="Number" aria-describedby="button-addon2"> <div class="input-group-append" > <button class="btn btn-outline-light" type="button" onclick="tag_click(document.getElementById('tag-number').value)">Create Form</button> </div> </div>

<div class="row" id="tag-container">
	
	
</div>
<button class="btn btn-info" type="submit">
		Submit
	</button>


	</div>
	
	
	</form>
	
</div>

<script>
	function tag_click(number){
document.getElementById("tag-container").innerHTML=null;		
		for(i=1;i<=number;i++){
			document.getElementById("tag-container").innerHTML+="<div class=\"col-md-6 col-lg-4 \"> <input class=\"mb-3\" type=\"text\" placeholder=\"Enter sub category\" name=\"sub_categories\"> </div>";
		}
		
	}
	
</script>
{% endblock %}
{% block footer %}
{% endblock %}
