{% extends 'home/index.html' %}
{% block title %}
Links2web control panel
{% endblock %}
{% block nav %}
<h2 style="color:#131D06;">
	<a href="{% url 'home' %}">Go to Homepage</a>
</h2>
<h3 style="color:#131D06;">
	<a href="{% url 'control_panel' %}">Go to Control_panel</a>
</h3>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

{% load admin_urls %}

<div class="container-fluid" >
<h2 style="font-family:monospace; color:#7E9F78;">Links2web Control Panel</h2>
<div class="list-group mr-2" style="max-width: 500px;"> 
{% if user.is_staff %}
<a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action "> Admin</a>
{% endif %}
{% if user.is_staff %}
<a href="{% url 'admin:app_list' 'Websites' %}slider/" class="list-group-item list-group-item-action "> Slider</a>
{% endif %}
<a href="{% url 'add_category' %}" class="list-group-item list-group-item-action "> Add Category</a>
 <a href="{% url 'update_category' %}" class="list-group-item list-group-item-action">Update Category</a>
  <a href="{% url 'delete_category_select' %}" class="list-group-item list-group-item-action">Delete Category</a>
   <a href="{% url 'add_websites' %}" class="list-group-item list-group-item-action">Add Websites</a>
    <a href="{% url 'update_website' %}" class="list-group-item list-group-item-action ">Update Websites</a>
  <a href="{% url 'delete_website' %}" class="list-group-item list-group-item-action ">Delete Websites</a>
  </div>

<a class="btn btn-warning mt-3" href="{% url 'Logout' %}">
	Logout
</a>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
