{% extends "home/index.html" %}
{% block title %}
    Links add page
{% endblock %}

{% block nav %} 
<h2 class="text-center">
	<a href="{% url 'home' %}">Go to Homepage</a>
</h2>
<h3 class="text-center">
	<a href="{% url 'control_panel' %}">Go to Control_panel</a>
</h3>
{% endblock %}{% block header %}
{% endblock %}
{% block content %}
<div >
      <div class="container-fluid my-3" style="max-width: 500px;" >
      	<div class="jumbotron shadow rounded s-center " id="s-head">
      		<h3>Links add websites page</h3>
      	</div>
      	<form id="web-form"  method="post" >
      	{% csrf_token %}
      	
      <label style="font-size:25px;">Select Category</label>
      		  <select class="form-control" id="" name="category" value="this.options[this.selectedIndex].value" onchange="show(this.options[this.selectedIndex].getAttribute('data-tags'),this.options[this.selectedIndex].getAttribute('data-tags-id'))" required>
 	  
 	   <option value="" selected disabled>Select Category</option> 
 	      {% for category in Category %}
 	   <option data-tags="[{% for i in category.sub_categories.all %}'{{i.Sub_Category}}',{% endfor %}]" data-tags-id="[{% for i in category.sub_categories.all %}{{i.pk}},{% endfor %}]" value="{{category.pk}}"> {{category}}</option> 
 	    {% endfor %}
 	  
 	 </select>
 	 
 	 
 	   
      	<div class="form-group">
      			
      	<label style="font-size:25px;">Select Tags or subcategories</label>
 	
 	     <select multiple class="form-control" id="tags" name="Tags" style="visibility:hidden" >
 	 </select>
 	 
 
 	  </div>
 	  <h3>{{form.Countries.label}}</h3>
 	  <div>
		<button type="button" class="btn btn-sm btn-primary mx-auto mb-2" onclick="markAllSelect('countriesSelect');"  >Mark all</button>

 	  {{form.Countries}}
 	  	</div>
      	<div id="main_form">
				<h5 style="text-align:center;">Enter number for numbered websites</h5>
				<input class="form-control w-25 mx-auto" type="number" name="Number" placeholder="optional">
				<h5 style="text-align:center;">Enter website name</h5><input name="website" class="form-control mb-3" type="text" placeholder="Enter website name" required >
				<h5 style="text-align:center;">Enter website url </h5><input name="url" class="form-control mb-3" type="text" placeholder="Enter website url" value="" required >
			<div id="status"></div>
			<div class="d-flex">
				<button class="s-submit mx-auto" type="submit" id="submit">Submit websites</button>
			</div>
		</div>
      	</form>
      	
      </div>
      </div>
    
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
<script>
  
	function show(data,id){

	document.getElementById("tags").style.visibility = "visible";
	document.getElementById("tags").innerHTML = null;
	eval("var tags = " + data);
	eval("var tags_id = "+id);
	for (i in tags){

	document.getElementById("tags").innerHTML += "<option value='"+ tags_id[i]+"'>"+tags[i]+"</option>";

	}

	}
	function markAllSelect(id){
		var select = document.getElementById(id);
		for(var i=0;i<select.options.length;i++){
			select.options[i].selected=true;
		}
	}

	$("#web-form").submit(function (e) {
		e.preventDefault();
		var form = $(this);
		var btn = $("#submit");
		btn.attr("disabled",true);
		btn.text("Submiting...");
		$.post("{% url 'add_websites' %}",form.serialize(),function(res) {
			btn.attr("disabled",false);
			btn.text("Submit websites");
			$("#status").html('<div class="alert alert-success my-3">' + res + '</div>');
            $("#main_form").find('input').val('');
        }).fail(function(res,statusText,errorThrown){
			$("#status").html('<div class="alert alert-danger my-3">' + res.responseText + '</div>');
			btn.attr("disabled",false);
			btn.text("Submit websites");
        });
});
</script>
{% endblock %}
