<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                Links2web. A website that links you to other websites.
            {% endblock %}
        </title>
        <meta charset="utf-8" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <meta name="description" content="Links to other websites in different categories" >
        {% block meta_keywords %}
        <meta name="keywords" content="{% for category in category %}{{category.category}} websites,{% endfor %}" >
        {% endblock %}
        <meta name="author" content="David Akinfenwa" >
        {% load static %}
        <!-- Fonts and icons -->
        
        <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans+Condensed:300|Oswald|Quicksand|Roboto+Condensed|Slabo+27px&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">        
        <link rel="shortcut icon" href="{% static './assets/img/favicon.png' %}">
        <link href="{% static './assets/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static './assets/css/style.css' %}">
        <style>
{% block style %}
    ul#head-list li a{
        min-width:150px; text-align:center; max-width:250px;
    }

    ul#head-list li.has-sub a{
        min-width:150px; text-align:center; max-width:350px;
    }
    .fa-thick{
        font-weight: bold;
        font-size: 20px;
    }
{% endblock %}
        </style>

    </head>

    <body style="background:#020525; color:white;">
        {% block nav %}
            <nav class="navbar navbar-dark fixed-top" >
                <div id='cssmenu' class="d-flex" >
                    <ul id="head-list" class="mx-auto d-flex">
                        <li ><a href="{% url 'home' %}" ><span >Home</span></a></li> 
                        <li class='active has-sub '><a style="display:flex;" onclick="s();" ><span>Search</span> </a>
                            <ul style="max-height:500px; overflow-y:auto; min-width:300px;">
                                <li >
                                    <form method="get" class="input-header-list" action="{% url 'home' %}">
                                        <input class="form-control " type="text" name="search_all_result" placeholder="Search all" style="height:40px; width:250px; margin:10px;"> <button type="submit"  class="btn btn-info" style="height:40px;margin: 10px 5px;" type="submit"><span class="fa fa-search"></span></button>
                                    </form>
                                </li>
                                <li>
                                    <form method="get" class="input-header-list" action="{% url 'home' %}">
                                        <input class="form-control" type="text" placeholder="Search categories" name="search_categories_result" style="height:40px; width:250px; margin:10px;"> <button class="btn btn-info" style="height:40px;margin: 10px 5px;" type="submit"><span class="fa fa-search" ></span></button>
                                    </form>
                                </li>
                                <li>
                                    <form method="get" class="input-header-list" action="{% url 'home' %}" >
                                        <input class="form-control" name="search_website_result" type="text" placeholder="Search websites" style="height:40px; width:250px; margin: 10px;"> <button class="btn btn-info" style="height:40px; margin: 10px 5px;" type="submit"><span class="fa fa-search"></span></button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class='active has-sub'><a href='#' style="display:flex;"><span>Categories </span> </a>
                            <ul style="max-height:350px; overflow-y:auto; min-width:250px;">
                                {% for data in category %}
                                    <li>
                                        <a href="{% url 'websites' data.pk data.category %}" style="background:#000000; color:#D2EBFB; width:100%; display:flex;"><div class="w-25"><img src="{% if data.icon %}{{data.icon.url}}{% endif %}"  style="height:30px; width:30px;border-radius:5px;" ></div> <div class="w-75 my-auto">{{data.category}}</div></a>		
                                    </li>
                                {% endfor %}
                            </ul>
                        </li> 
                        <li class="has-sub active"><a href='#' ><span>Contact</span></a>
                            <ul style="max-height:350px; width:250px; overflow-y:auto;">
                                <li class="has-sub"><a href="" style="background:#171D34; color:white; ">Contact Links2web</a>
                                    <ul>
                                        <li><a href="{% url 'contact' 'Suggest websites or categories' %}" style="background:#171D34; color:white;">Suggest websites or categories</a></li>
                                        <li><a href="{% url 'contact' 'Report Issues' %}" style="background:#171D34; color:white;">Report Issues</a></li>
                                        <li><a href="{% url 'contact' 'Send message' %}" style="background:#171D34; color:white;">Send message</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub" ><a href="" >Contact Developer</a>
                                    <ul>
                                        <li><a href="https://facebook.com/david.akinfenwa.9" style="background:#171D34; color:white;"> <i class="fa fa-facebook"></i> Facebook</a></li>
                                        <li><a href="https://twitter.com/Davo_boss1" style="background:#171D34; color:white;"> <i class="fa fa-twitter"></i>Twitter</a></li>
                                        <li><a href="" onclick="alert('LinkedIn account not yet available')" style="background:#171D34; color:white;"> <i class="fa fa-linkedin"></i> Linkedin</a></li>
                                        <li><a href="mailto:davidakinfenwa2@gmail.com" style="background:#171D34; color:white;"> <i class="fa fa-envelope"></i> Email</a></li>
                                        <li><a href="https://github.com/Davoboss1" style="background:#171D34; color:white;"> <i class="fa fa-github"></i> GitHub</a></li>
                                        <li><a href="https://www.instagram.com/davo_boss1" style="background:#171D34; color:white;"> <i class="fa fa-instagram"></i> Instagram</a></li>
                                    </ul>  		
                                </li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                            <li ><a href="{% url 'Login' %}" class="control-panel-width"><span>Control Panel<span></a></li>
                        {% endif %}
                        <li class='last'><a href='#'><span>About<span></a></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block header %}
            <div>

                <header class="header" >

                    <div class="container" id="container-view">
                        <div class="row">

                            <div class="col-12">

                                <h2 >
                                    <i>
                                    <u>Links2Web</u>
                                    </i>

                                </h2>

                                <h2 >
                                    <i>
                                    We provide you free links to other websites in multiple categories.
                                    </i>
                                    <i>
                                        Explore
                                    </i>
                                </h2>

                                <div id="carouselExampleControls"  class="carousel slide slider mx-auto" data-ride="carousel" >


                                    <div class="carousel-inner">

                                        {% for slide in slider %}	 	
                                            {% if forloop.counter == 1 %}
                                                <div class="carousel-item active"> 
                                                    <h4 class="carousel-text" >
                                                        {% autoescape off %}
                                                            {{slide.Info|urlize}}
                                                        {% endautoescape %}
                                                    </h4>
                                                </div>
                                {% else %}
                                    <div class="carousel-item ">
                                        <h4 class="carousel-text">
                                            {% autoescape off %}
                                                {{slide.Info|urlize}}
                                            {% endautoescape %}</h4> 	
                                    </div>
                                {% endif %}
                            {% endfor %}

                                    </div>

                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>

                                    </span>
                                    <span class="sr-only">Previous</span>
                                    </a>



                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>





                                </div>

                            </div>

                        </div>

                        <hr style="background:white; height:5px;">

                </header>

                    </div>

                {% endblock %}
                {% block content %}
                    <div class="container" id="categories" >

                        <h3 style="text-align:center;">Categories</h3>
                        <hr>


                        <div class="row">

                            {% for data in category %}


                                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

                                    <ul style="list-style-type:none; margin:0; padding:0;">

                                        <li >

                                            <div class="categories row align-items-center " >
                                                <div class="col-3 col-sm-3 col-md-3 col-lg-3"><img style="width:50px; height:50px; border:1px solid #1D96CE ;border-radius:5px; padding:2px;" src="{% if data.icon %}{{data.icon.url}}{% endif %}" alt="icon"></div>
                                                <div class="col-7 col-sm-7 col-md-7 col-lg-7 ">  <a href="{% url 'websites' data.pk data.category %}" style="color:white;"><h5 >{{data.category}} </h5> </a></div>
                                                <div class="col-2 col-sm-2 col-md-2 col-lg-2">	<div class="dropdown dropdown-icon" >
                                                        <a class="fa fa-angle-down fa-thick" style="color:white; padding:30%;"  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                            {% for sub_categories in data.sub_categories.all %}
                                                                <a class="dropdown-item" href="{% url 'websites' data.pk data.category sub_categories %}">{{sub_categories.Sub_Category}}</a>

                                                                <hr class="no-space"> 
                                                            {% endfor %}

                                                        </div> </div>
                                                </div>
                                            </div>

                                        </li>




                                        <hr class="line">

                                    </ul>


                                </div>

                            {% endfor %}

                            <!--
                                End of row
                            -->


                        </div>  
                    </div>	

                {% endblock %}
                {% block footer %}
                <footer class="footer-distributed container-fluid" >
                    <div class="row">
                        <div class="footer-left col-12 col-md-6">
                            <h1>Links2web</h1>
                            <p class="footer-links"> 
                                <p style="text-align:center;"> 
                                <a href="{% url 'home' %}">Home</a>
                                ·
                                <a href="#categories">Categories</a>
                                ·
                                <a href="{% url 'contact' 'Contact Links' %}">Contact</a>
                                
                                <h5 style="text-align:center;"><a href="{% url 'contact' 'Suggest websites or categories' %}">Request or contribute to this website</a> </h5>	<i>(websites,categories,options,issues)</i>
                            </p>
                            <div class="footer-icons" style="padding:0; margin:0;">
                                <h4 >Contact Developer</h4>
            
                                <a href="https://facebook.com/david.akinfenwa.9" ><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/Davo_boss1" ><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/davo_boss1" ><i class="fa fa-instagram"></i></a>
                                <a href="#" onclick="alert('Linkedin account not available yet');"><i class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/Davoboss1" ><i class="fa fa-github"></i></a>
                            </div>
                        </div>      
                        <div class="footer-center col-12 col-md-6">
                        <h4>Contact Links2web through <span class="fas fa-arrow-down"></span></h4>
                            <div>
                                <i class="fa fa-instagram"></i>
                                <p><a href="#" onclick="alert('Instagram account not available yet');" >Links2web Instagram</a></p>
                                
                            </div>
                            <div>
                                <i class="fa fa-facebook"></i>
                                <p><a href="#" onclick="alert('Facebook account not available yet');" >Links2web Facebook</a></p>
                                
                            </div>
                            <div>
                                <i class="fa fa-linkedin"></i>
                                <p><a href="#" onclick="alert('Linkedin account not available yet');">Links2web Linkedin</a></p>
                                
                            </div>    
                            <div>
                                <i class="fa fa-twitter"></i>
                                <p><a href="#" onclick="alert('Twitter account not available yet');">Links2web Twitter</a></p>    
                            </div>
                        
                            <div>
                                <i class="fa fa-envelope"></i>
                                <p><a href="mailto:Links2webContact@gmail.com">Links2web Email</a></p>
                            </div>
                
                        </div>
                        <p class="footer-company-name mx-auto" id="copyright">Just Technogies &copy; <script>
                            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                          </script></p>
                    </div>
                </footer> 
                {% endblock %}

                <!--   Core JS Files   -->
                <script src="{% static './assets/js/custom-js.js' %}"></script>    
                <script src="{% static './assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
                <script src="{% static './assets/js/core/popper.min.js' %}" type="text/javascript"></script>
                <script src="{% static './assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>

                <script src="{% static './assets/js/menu-script.js' %}"></script>
                {% block js %}
                {% endblock %}
    </body>

</html>

