{% extends 'home/index.html' %}
{% block nav %}
<h2 style="color:#131D06;">
	<a href="{% url 'home' %}">Go to Homepage</a>
</h2>
<h3 style="color:#131D06;">
	<a href="{% url 'control_panel' %}">Go to Control_panel</a>
</h3>
{% endblock %}{% block header %}
{% endblock %}
{% block content %}
<div class="container" >
<h2 > {{name}} </h2>

<select class="form-control" style="max-width: 500px;" onChange="window.document.location.href=this.options[this.selectedIndex].value;" >
 	  
 	   <option> -------------</option> 
 	      {% for Category in category %}
 	   <option value="{{Category.pk}}"> {{Category.category}}</option> 
 	    {% endfor %}
 	  
 	 </select>
 	 
 	 </div>
{% endblock %}
{% block footer %}
{% endblock %}
