{% extends "home/index.html" %}
{% block title %}
<title>
    Links add page
  </title>
{% endblock %}

{% block nav %}
<h2 style="color:#131D06;">
	<a href="{% url 'home' %}">Go to Homepage</a>
</h2>
<h3 style="color:#131D06;">
	<a href="{% url 'control_panel' %}">Go to Control_panel</a>
</h3>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="body2">
      <div class="container-fluid body2"  >
      	<div class="jumbotron shadow rounded s-center " id="s-head">
      		<h3>Links add Page</h3>
      	</div>
      	
      		<h3 class="s-web-head">Update all {{object.category}} websites</h3>	
 	
      	
      	<form  method="post" >
      	{% csrf_token %}
      
    <select class="form-control" id="category-select" name="category" >
    	<option value="{{object.pk}}">{{object.category}}</option>
    	{% for object in categories %}
    		<option value="{{object.pk}}" >{{object.category}}</option>
    	{% endfor %}
    	</select>
<div class="row" id="tag-container" style="background:#F2E9E0;">
	
	
</div>
    	
    <div class="category-form row">
    	
    {% for form in queryset %}
<input value="{{form.pk}}" name="pk" style="display:none" readonly>
 <div class="col-md-6 col-lg-4 " style="background-color:#7EAADA; margin:10% 0;" ><h5 style="text-align:center;">Enter number for numbered websites</h5> <input class="form-control w-25 mx-auto" type="number" name="Number" placeholder="optional" value="{{form.Number}}"> <h5 style="text-align:center;">Enter website name</h5> <input name="website" class="form-control mb-3 w-100" type="text" placeholder="Enter website name" value="{{form.website}}"  required > <h5 style="text-align:center;">Enter website url </h5> <input name="url" class="form-control mb-3 w-100 " type="text" placeholder="Enter website url" value="{{form.url}}" required >
 <h5 style="text-align:center;">
Select Sub Categories
</h5>

<select class="form-control" name="Tags_{{form.pk}}" multiple>
{% for data in object.sub_categories.all %}
{% if data in form.Tags.all %}
<option value="{{data.pk}}" selected>
{{data}}
</option>
{% else %}
<option value="{{data.pk}}">
{{data}}
</option>
{% endif %}
{% endfor %}
</select>
<h5 style="text-align:center;">
Select Countries
</h5>
<select class="form-control" name="Countries_{{form.pk}}" multiple>
{% for data in Countries %}
{% if data in form.Countries.all %}
<option value="{{data.pk}}" selected>
{{data}}
</option>
{% else %}
<option value="{{data.pk}}">
{{data}}
</option>
{% endif %}
{% endfor %}
</select>
 </div> <hr>
    
        {% endfor %}
    <div style="width:100%; display:flex;">
    	{% if queryset.has_previous %}
    	<a href="?p={{queryset.previous_page_number}}" style="float:left; margin:0 0 5% 2%; color:#FFFFFF; border:1px solid#33A8C8; padding:5px;">Previous page</a>
    	{% endif %}
    		
<select class="form-control w-25 mx-auto" onChange="window.document.location.href=this.options[this.selectedIndex].value;" style="padding:0; margin:0;" >
 	  
 	   <option> -------------</option> 
 	      {% for page in page_range %}
 	   <option value="?p={{page}}">{{page}} </option> 
 	    {% endfor %}
 	  
 	 </select>
    	{% if queryset.has_next %}
    	<a href="?p={{queryset.next_page_number}}" style="float:right; margin: 0 2% 5% 0; color:#FFFFFF; border:1px solid #478E5B; padding:5px; ">Next page</a>
    	{% endif %}
    </div>
    
    </div>

    <div class="w-50" style="margin:0 auto 10% auto;"> <button class="s-submit w-100" type="submit" id="submit">Submit websites</button> </div>
      	</form>
      	
      </div>
      </div>
      <!--
    <script>
   var data_select = document.getElementById("category-select");
   data = data_select.options[data_select.selectedIndex].getAttribute('data-tags');
   
   id = data_select.options[data_select.selectedIndex].getAttribute('data-tags-id');
    document.getElementById("tags").style.visibility = "visible";
document.getElementById("tags").innerHTML = null;
eval("var tags = " + data);
eval("var tags_id = "+id);


for (i in tags){

document.getElementById("tags").innerHTML += "<option value='"+ tags_id[i]+"' selected>"+tags[i]+"</option>";

}

function show(data,id){

document.getElementById("tags").style.visibility = "visible";
document.getElementById("tags").innerHTML = null;
eval("var tags = " + data);
eval("var tags_id = "+id);
for (i in tags){

document.getElementById("tags").innerHTML += "<option value='"+ tags_id[i]+"'>"+tags[i]+"</option>";

}

}
	
    </script>
    -->
{% endblock %}