{% extends 'home/index.html' %}
{% block nav %}
<h2 style="color:#131D06;">
	<a href="{% url 'home' %}">Go to Homepage</a>
</h2>
<h3 style="color:#131D06;">
	<a href="{% url 'control_panel' %}">Go to Control_panel</a>
</h3>
{% endblock %}{% block header %}
{% endblock %}
{% block content %}
<div class="container" >
<h2 > {{name}} </h2>

<select class="form-control" onChange="window.document.location.href=this.options[this.selectedIndex].value;" >
 	  
 	   <option> -------------</option> 
 	      {% for Category in category %}
 	   <option value="{{Category.pk}}"> {{Category.category}}</option> 
 	    {% endfor %}
 	  
 	 </select>
 	 
 	 {% if type == "UW" %}
 	 <div class="mt-3">
 	  	 <a href="{% url 'update_single_website_select' %}" style=" color:white; text-decoration:underline;">Click to update single websites </a>
 	  	 </div>
 	  	 {% endif %}
 	 </div>
{% endblock %}
{% block footer %}
{% endblock %}
